RewriteEngine On

# Se o arquivo ou diretório existir no diretório public, servir normalmente
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirecionar todas as outras requisições para o diretório public/index.php
RewriteRule ^(.*)$ /public/index.php [L]
