RewriteEngine On

# Verifica se o arquivo ou diretório existe antes de redirecionar
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Evita redirecionar se já estiver na pasta public
RewriteCond %{REQUEST_URI} !^/public/